<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/mainlayout :: main-fragment(~{::#currency-content})}">

<head>
    <!--    <meta http-equiv="Refresh" content="0; url='https://www.w3docs.com'" />-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <script type="text/javascript" src="jsdevextreme/jquery.min.js"></script>-->

<!--    &lt;!&ndash; DevExtreme theme &ndash;&gt;-->
<!--    <link rel="stylesheet" href="cssdevextreme/dx.light.css">-->

<!--    &lt;!&ndash; DevExtreme library &ndash;&gt;-->
<!--    <script type="text/javascript" src="jsdevextreme/dx.all.js"></script>-->

<!--    <link href="view/bower_components/css/dashboard.css" rel="stylesheet" type="text/css">-->

    <title>Sistem Akutansi PAN</title>
<!--        <script src="jsdevextreme/globalize/date.js"></script>-->



<!--&lt;!&ndash;    <script src="view/bower_components/js/dashboard.js"></script>&ndash;&gt;-->
<!--    <script src="view/bower_components/js/currency.js"></script>-->
</head>
<body class="dx-viewport">
<div class="demo-container">
    <div class="container">
        <div th:replace="fragments/navbarhead.html"/>
<!--        <div class="top-content">-->
<!--            <div id="navbar"></div>-->
<!--        </div>-->
<!--        <div class="left-content">-->
<!--            <div id="treeview"></div>-->
<!--        </div>-->
        <div id="currency-content" class="right-content">
            <h2>Nilai Mata Uang Asing</h2>
            <div id="buttoncurrency"></div>
            <div id="buttoncurrencymanual"></div>
            <div id="popup2"></div>

            <div id="Datadtlcur"></div>
        </div>
    </div>

</div>
</body>

</body>

</html>