<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!--    <meta http-equiv="Refresh" content="0; url='https://www.w3docs.com'" />-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="jsdevextreme/jquery.min.js"></script>

    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="cssdevextreme/dx.light.css">

    <!-- DevExtreme library -->
    <script type="text/javascript" src="jsdevextreme/dx.all.js"></script>

    <link href="view/bower_components/css/dashboard.css" rel="stylesheet" type="text/css">

    <title>Sistem Akutansi PAN</title>
    <!--    <script src="jsdevextreme/globalize/date.js"></script>-->



    <script src="view/bower_components/js/dashboard.js"></script>
    <script src="view/bower_components/js/currency.js"></script>
</head>
<body class="dx-viewport">
<div class="demo-container">
    <div class="container">
        <div class="top-content">
            <div id="navbar"></div>
        </div>
        <div class="left-content">
            <div id="treeview"></div>
        </div>
        <div class="right-content">
            <h2>Menu Rate Currency / Nilai Mata Uang Asing</h2>
            <div id="buttoncurrency"></div>
            <div id="Datadtlcur"></div>
        </div>
    </div>

</div>
</body>

</body>

</html>