

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/mainlayout :: main-fragment(~{::#dashboard-content})}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="">
<!--    <script type="text/javascript" src="jsdevextreme/jquery.min.js"></script>-->

<!--    &lt;!&ndash; DevExtreme theme &ndash;&gt;-->
<!--    <link rel="stylesheet" href="cssdevextreme/dx.light.css">-->

<!--    &lt;!&ndash; DevExtreme library &ndash;&gt;-->
<!--    <script type="text/javascript" src="jsdevextreme/dx.all.js"></script>-->

<!--    <link href="view/bower_components/css/dashboard.css" rel="stylesheet" type="text/css">-->

    <title>Sistem Akutansi PAN</title>
<!--&lt;!&ndash;    <script src="jsdevextreme/globalize/date.js"></script>&ndash;&gt;-->



<!--    <script src="view/bower_components/js/dashboard.js"></script>-->

</head>
<body class="dx-viewport">
<div class="demo-container">
    <div class="container">
<!--        <div th:replace="fragments/navbarhead.html"/>-->
<!--        <div class="top-content">-->
<!--            <div id="navbar"></div>-->
<!--        </div>-->
<!--        <div class="left-content">-->
<!--            <div id="treeview"></div>-->
<!--        </div>-->
        <div id="dashboard-content" class="right-content">
            <div class="title-container" style="text-align: center">
                <h2>Selamat Datang di Aplikasi Sistem Akutansi PAN</h2>
                <p th:inline = "text">
                           Selamat datang [[${userName}]]</p>
                <p>Untuk memulai, silahkan untuk memilih menu di samping kiri</p>
                <div id="currencybutton"></div>

            </div>

        </div>
    </div>

</div>
</body>

</html>
